.container {
	width: 500px;

	margin-top: 1000px;
}

.card-container {
	width: 50%;
	margin: auto;
	border-radius: 50px;
	margin-top: 50px;
}

.border {
	background-color: #6285b6;
	/* width: 50%; */
	margin: 20px auto;
	border-radius: 5px;
}

.row-content {
	min-height: 80px;
	width: 90%;
	margin: auto;
}

.height100 {
	height: 100vh;
}

.button-block {
	width: auto;
	margin: 5px;
}

.submit-bartender-btn {
	margin: 5% 25% 10% 25%;
}
.btn-center {
	text-align: center;
}

.select-bartender {
	margin: 10px 0;
}
